
<div class="c-tabs">
    <!--  Navigation group: .js-tabs-nav -->
    <ul class="js-tabs-nav c-tabs__nav">
        <li class="c-tabs__nav__item is-selected">
            <!--  Anchor element: href pointing to the content's id -->
            <!--  Anchor element: .js-tabs-link -->
            <a href="#js-tab1" class="js-tabs-link">Tab 1</a>
        </li>
        <li class="c-tabs__nav__item">
            <a href="#js-tab2" class="js-tabs-link">Tab 2</a>
        </li>
    </ul>
    <section class="js-tabs-content c-tabs__content">
        <div id="js-tab1" class="o-container c-tabs__content__pane is-active" style="display: block;">
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item">
                    <h5>Tab 1</h5>
                    <p>Vestibulum eu porta felis. Aliquam vitae massa in libero pretium euismod. Duis ullamcorper ante a ullamcorper feugiat. Quisque non ullamcorper urna. Vivamus vehicula varius nisl. Curabitur pulvinar turpis metus, nec maximus erat commodo et. Sed a purus at est vehicula efficitur mollis non ipsum. Pellentesque eget placerat diam. Morbi vel tellus id arcu laoreet ultrices. In efficitur, purus quis cursus lobortis, neque quam congue purus, id fermentum tortor enim vitae sapien.</p>
                </div>
            </div>
        </div>
        <div id="js-tab2" class="o-container c-tabs__content__pane" style="display: none;">
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item">
                    <h5>Tab 2</h5>
                    <p>Duis a consequat ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque vitae viverra orci, a rhoncus metus. Curabitur vitae mollis dui. Etiam consequat ullamcorper rutrum. Morbi iaculis sagittis mauris, a eleifend arcu efficitur eu. Phasellus varius justo id odio cursus tempor. Phasellus ullamcorper, orci quis varius pellentesque, velit ligula placerat urna, et gravida odio libero vitae massa. Nam sed ligula pulvinar, lacinia ipsum a, eleifend orci. Cras gravida sed dolor non condimentum. Nulla facilisi. Mauris facilisis porttitor risus vitae commodo. Aliquam in pulvinar justo.</p>
                </div>
            </div>
        </div>
    </section>
</div>
