
<div class="o-grid__item u-1-of-4-bp4">
    <p><button class="c-button c-button--alpha c-button--md js-toggle-trigger" data-target-selector=".js-toggle-target">Toggle Trigger</button></p>
</div>

<div class="o-grid__item u-3-of-4-bp4 js-toggle-target">
    <p>Proin et nunc magna. Nulla laoreet elit orci. Fusce mattis erat non nisl ullamcorper, in faucibus lectus vestibulum. Cras ornare lobortis ante, vel tristique tortor lacinia at. Morbi ullamcorper enim vitae velit eleifend ultricies. Mauris nisl ipsum, venenatis eu rutrum in, tristique eu elit. Nam faucibus luctus fringilla. Sed pellentesque ligula nulla, non tempor lacus hendrerit sed. In vel tortor efficitur, placerat lacus vel, bibendum tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida, purus at tempus auctor, risus diam mattis ligula, vel tincidunt dolor lectus et turpis. Cras ipsum leo, iaculis vitae augue sed, rutrum volutpat dui. </p>
</div>
